
body { background: #eee; color: #333; font: 13px microsoft yahei, Verdana, Arial, Helvetica, sans-serif; line-height: 1; }
::selection { color: #fff; background: #FF7D00; }
::-moz-selection {color:#fff;background:#FF7D00;}
a:link, a:visited { color: #474747; text-decoration: none; -webkit-transition: background-color .15s linear, color .15s linear; -moz-transition: background-color .15s linear, color .15s linear; -o-transition: background-color .15s linear, color .15s linear; -ms-transition: background-color .15s linear, color .15s linear; transition: background-color .15s linear, color .15s linear; }
a:hover { color: #FF7D00; }
.clear { clear: both; }

.box { background: #fff; border: solid 1px #e3e3e3 \9; border-bottom: solid 1px #ccc \9;  -webkit-box-shadow: 0 2px 4px 0 #d9d9d9;-moz-box-shadow: 0 2px 4px 0 #d9d9d9;box-shadow: 0 2px 4px 0 #d9d9d9;}
h2 { font-size: 16px; font-weight: bold; line-height: 1.5em; padding-bottom: 10px; }
h3 { font-size: 15px; line-height: 36px; height: 36px; }


strong { font-weight: bold; }
blockquote, pre { padding: 5px 10px 5px 40px; margin: 10px 0; background: #F7F7F7 url(images/quotebg.gif?v=2.6) no-repeat 10px 10px; border: 1px solid #EBEBEB; color: #ff7d00; font-size: 12px; }
blockquote p, pre p { text-indent: 0 !important }
center { margin: 0 auto; text-align: center }
@-webkit-keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translateY(20px)}
	100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
0%{opacity:0;-moz-transform:translateY(20px)}
100%{opacity:1;-moz-transform:translateY(0)}
}


.mainleft { width: 46%; overflow: hidden;margin-left: 390px;background-color: #d9e2e9 }
#post_container { margin-left: -16px; position:relative }
#post_container li { width: 196px;width: 314px \9;height: 440px; margin-left: 36px; float: left;-webkit-animation:fadeInUp .3s .2s ease both;-moz-animation:fadeInUp .3s .2s ease both;}
.thumbnail { max-height: 500px; overflow: hidden; }
.thumbnail a { display: block; padding: 7px 8px 0; }
.thumbnail img { width: 180px; height:250px; }
.article { padding: 15px 10px 0; position:relative;top: -40px }
.info { font-size: 12px;color: #999; white-space: nowrap; text-overflow: ellipsis; position: relative;  border-top: 1px solid #eee; line-height: 35px; padding: 0 5px; text-align: center;top: -36px }
.info span { height: 20px; line-height: 17px; }
.info span a { color: #999; }
.info span a:hover { color: #ff7d00; }
.info_ico { background: url(../../images/film/icon/icon1.png) no-repeat; padding: 0 5px 0 20px; }
.info_category { background-position: 0 -21px; }
.info_date { background-position: 0 -1px; }
.info_views { background-position: 0 -62px; }
.info_comment { background-position: 0 -43px; }
.info_author { background-position: 0 -82px; }
.entry_post { line-height: 22px; color: #999; margin-bottom: 10px; word-break: break-all; font-size: 16px }
.sticky { background: #ff7d00; height: 25px; width: 45px; position: absolute; z-index: 20; top: -1px; right: -1px; color: #fff; font-weight: bold; text-align: center; line-height: 25px;border-radius: 0 0 0 5px; }
.zoom { width: auto; height: auto; display: block; position: relative; overflow: hidden; background: none; }
.zoomOverlay {opacity: 0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: none; /*margin: 7px 7px 0 7px; */background-image: url(images/zoom.png?v=2.6); background-repeat: no-repeat; background-position: center; }
.zoom:hover .zoomOverlay{filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block; background-color:#000;}
#post_container .fixed-hight h2 a{ display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;font-size: 18px}
#post_container .fixed-hight .entry_post{overflow: hidden;height: 42px;}
#post_container .fixed-hight .info{ overflow:hidden; height:35px;}
#post_container li:hover h2 a{color: #ff7d00; font-size: 18px}
#post_list{}
#post_list .post{padding: 10px 15px; width:45%; display:inline-block;}
#post_list .thumbnail-full{position: relative;
    float: left;
    width: 110px;
    height: 140px;
    margin: 7px 10px 5px 0;
    padding: 4px 4px 0 4px;
    clear: both;
    overflow: hidden;
    transition-duration: 0s; z-index:999;}
#post_list .thumbnail-full a img{    width: 110px;
    height: 160px;}
	#post_list .entry_post p{ height:20px; line-height:20px; overflow: hidden; margin-top:5px;}
	#post_list .info{ text-align:left; padding-top:10px;height:20px; line-height:20px;overflow: hidden;word-wrap: break-word;word-break: break-all;}
	.post-l-pd10{ display: inline-block;padding: 10px;}
	.subsidiary .fivesixth{ color:#ff7d00;}
